<% title 'Tools We Use' %>
<% description "Our basic videos will teach you more about pay per click.  Even if you don't know much about it, we'll help you use it to grow your business." %>
<% keywords 'online marketing, internet marketing, pay per click, ppc' %>

<div class="container">
  <div class="content">
    <div class="page-header">
      <h1>Tools We Use</h1>
    </div>
	<div class="row">
	  <p class="span 10 well" align="center">The tools listed here are what we use to run BadgedIn.  These companies have treated us well and 
	  we think they're doing great things.  If you click on any of the links below, we may or may not earn a little money with 
	  the referral depending on the partnership.</p>
      <div class="span3 well-library">
        <p align="center"><a href="http://www.bluehost.com/track/badgedin/CODE73" target="_blank"><img border="0" src="http://img.bluehost.com/100x100/bh_100x100_02.gif" /></a></p>
        <h4 align="center">Bluehost</h4>
        <hr>
        <p align="center">Bluehost is a great hosting provider.  They have all the features needed to 
        get your site up and running quickly.  Their service is also great.</p>
        <br />
        <p align="center"><a href="http://www.bluehost.com/track/badgedin/CODE73" target="_blank" class="btn-custom">Learn more</a></p>
      </div>

      <div class="span3 well-library">
        <p align="center"><a href="http://eepurl.com/wtgc5" target="_blank" id="badge_img"><img border="0" src="https://s3.amazonaws.com/badgedin/images/mailchimp100.png" /></a></p>
        <h4 align="center">MailChimp</h4>
        <hr>
        <p align="center">MailChimp allows you to build your email lists easily.  Create autoresponders, build newsletter campaigns, and
        design forms in minutes.</p>
        <br />
        <p align="center"><a href="http://eepurl.com/wtgc5" target="_blank" class="btn-custom">Learn more</a></p>
      </div>

      <div class="span3 well-library">
        <p align="center"><a href="http://www.marketsamurai.com/c/BenFFavv" target="_blank" id="badge_img"><img border="0" src="https://s3.amazonaws.com/badgedin/images/MarketSamurai.png" /></a></p>
        <h4 align="center">Market Samurai</h4>
        <hr>
        <p align="center">Market Samurai helps you find keywords that will make your site rank better. The single interface 
        has all the information you need when searching for keywords.</p>
        <br />
        <p align="center"><a href="http://www.marketsamurai.com/c/BenFFavv" target="_blank" class="btn-custom">Learn more</a></p>
      </div>

    </div>
  </div>
</div>
