<% title 'Contact' %>
<% description 'BadgedIn is the fastest, easiest way to learn how to market and advertise your website.  Learn Social Media, PPC, and SEO.' %>
<% keywords 'online marketing, internet marketing, pay per click, social media, search engine optimization, ppc, seo' %>
<% set_meta_tags :noindex => true %>

<div class="span4 well">
<h1>Contact us</h1>

<%= render 'form' %>
</div>

<div class="span7">
  <h2>BadgedIn Team</h2>
  <p>We're here to help you understand online marketing and grow your business.  Even if you 
  have no idea what you're doing right now, we can help.  Let us know how we're doing or just 
  drop us a line to say 'Hi!'</p>
  <hr>
  <h4>Follow and Connect With Us</h4>
  <br />
  <div class="row">
    <div class="span2">
      <a href="https://twitter.com/BadgedIn" target="_blank" class="btn btn-info btn-large">Twitter</a>
    </div>
    <div class="span2">
      <a href="http://www.facebook.com/BadgedIn" target="_blank" class="btn btn-primary btn-large">Facebook</a>
    </div>
  </div>
</div>