<% title 'Contact' %>
<% description 'BadgedIn is the fastest, easiest way to learn how to market and advertise your website.  Learn Social Media, PPC, and SEO.' %>
<% keywords 'online marketing, internet marketing, pay per click, social media, search engine optimization, ppc, seo' %>
<% set_meta_tags :noindex => true %>

<div class="span4 well">
<h1>Contact us</h1>

<%= render 'form' %>
</div>

<div class="span7">
  <h2>BadgedIn Team</h2>
  <p>We're here to help you understand online marketing and grow your business.  Even if you 
  have no idea what you're doing right now, we can help.  Let us know how we're doing or just 
  drop us a line to say 'Hi!'</p>
  <hr>
  <h4>Badges</h4>
  <div class="row">
    <div class="span2">
      <p class="lead" align="center"><%= image_tag("https://s3.amazonaws.com/badgedin/badges/ppc_badge3150.png") %>PPC</p>
    </div>
    <div class="span2">
      <p class="lead" align="center"><%= image_tag("https://s3.amazonaws.com/badgedin/badges/social_media_badge150.png") %>Social</p>
    </div>
    <div class="span2">
      <p class="lead" align="center"><%= image_tag("https://s3.amazonaws.com/badgedin/badges/seo_badge3150.png") %>SEO</p>
    </div>
  </div>
</div>