<div class="container">
  <div class="content">
  
  <%= image_tag("https://s3.amazonaws.com/badgedin/badges/fb_likes_badge.png", alt: "Facebook Likes badge", align: "center", id: "quiz_badge") %>
    
    <div class="row-video">
    <div class="span7-video">
        <ul class="breadcrumb">
  		  <li><a href="#">Social Media Basics</a> <span class="divider">/</span></li>
  		  <li><a href="#">Facebook Likes</a> <span class="divider">/</span></li>
  		  <li class="active">Quiz</li>
		</ul>
    <div class="questionContainer radius">
        <div class="question"><b>Question 1:</b> What is something you should consider including in your ad?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-a" /> A list of details about your overall business.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-b" /> A lie about your product or service to increase interest.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-c" /> A personal attack on another company.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-d" /> A call to action.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev"></div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer hide radius">
        <div class="question"><b>Question 2:</b> What are some options that you can select to target your ads?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-a" /> Location, age, income, shopping habits.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-b" /> Sports, pages liked, post comments, photos.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-c" /> Income, political views, location, reading lists.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-d" /> Keywords, interest, life events, age, location.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev">
                </div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer radius hide">
        <div class="question"><b>Question 3:</b> What is one way you can offer exclusive content to fans who like your page?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q3" id="q3-a" /> You can upload photos for fans.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q3" id="q3-b" /> You can create a tab that shows them content after they like your page.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q3" id="q3-c" /> You can post content to your fan page.</label>
                </li>
                <hr>
                <li>
                	<label><input type="radio" name="q3" id="q3-d" /> You can highlight posts that show only for fans.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev">
                </div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer radius hide">
        <div class="question"><b>Question 4:</b> Where can you add social media icons to increase your chances of likes?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q4" id="q4-a" /> Website directories.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q4" id="q4-b" /> Email signature.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q4" id="q4-c" /> On Facebook.</label>
                </li>
                <hr>
                <li>
                	<label><input type="radio" name="q4" id="q4-d" /> In a CD.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev">
                </div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer radius hide">
        <div class="question"><b>Question 5:</b> Where in Facebook do you go to invite your email contacts to like your page?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-a" /> Build audience.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-b" /> Admin panel.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-c" /> Your settings.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-d" /> Manage permissions.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
            <div class="prev">
            </div>
            <div class="next">
                <a class="btnShowResult">Finish!</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    </div>
    
    <div class="span3-video">
    <div class="txtStatusBar">Quiz Status</div>
    <div id="progressKeeper" class="radius">
        <div id="progress" class="radius"></div>
    </div>
    <div id="resultKeeper" class="radius hide"></div>
    </div>
    </div>

  </div>
</div>

<script>
$(function(){
    var jQuiz = {
        answers: { q1: 'd', q2: 'd', q3: 'b', q4: 'b', q5: 'a' },
        questionLenght: 5,
        checkAnswers: function() {
            var arr = this.answers;
            var ans = this.userAnswers;
            var resultArr = []
            for (var p in ans) {
                var x = parseInt(p) + 1;
                var key = 'q' + x;
                var flag = false;
                if (ans[p] == 'q' + x + '-' + arr[key]) {
                    flag = true;
                }
                else {
                    flag = false;
                }
                resultArr.push(flag);
            }
            return resultArr;
        },
        init: function(){
            $('.btnNext').click(function(){
                if ($('input[type=radio]:checked:visible').length == 0) {
                            
                    return false;
                }
                $(this).parents('.questionContainer').fadeOut(300, function(){
                    $(this).next().fadeIn(300);
                });
                var el = $('#progress');
                el.width(el.width() + 60 + 'px');
            });
            $('.btnPrev').click(function(){
                $(this).parents('.questionContainer').fadeOut(300, function(){
                    $(this).prev().fadeIn(300)
                });
                var el = $('#progress');
                el.width(el.width() - 60 + 'px');
            })
            $('.btnShowResult').click(function(){
                var arr = $('input[type=radio]:checked');
                var ans = jQuiz.userAnswers = [];
                for (var i = 0, ii = arr.length; i < ii; i++) {
                    ans.push(arr[i].getAttribute('id'))
                }
            })
            $('.btnShowResult').click(function(){
                $('#progress').width(300);
                $('#progressKeeper').hide();
                var results = jQuiz.checkAnswers();
                var resultSet = '';
                var trueCount = 0;
                for (var i = 0, ii = results.length; i < ii; i++){
                    if (results[i] == true) trueCount++;
                    resultSet += '<div> Question ' + (i + 1) + ' is ' + results[i] + '</div>'
                }
                resultSet += '<div class="totalScore">Your total score is ' + trueCount * 20 + ' / 100</div>'
                if (trueCount == 5) {
                  resultSet += '<br /><a href="/basics_social/fb_likes/badge" class="btn-custom">Claim badge</a>'
                }
                else {
				  resultSet += '<br /><a href="/basics_social/fb_likes/quiz" class="btn-custom2">Try again</a>'
                };
                $('#resultKeeper').html(resultSet).show();
            })
        }
    };
    jQuiz.init();
})
</script>