<% title 'Facebook Timeline Quiz' %>
<% description "Our basic videos will teach you more about social media.  Even if you don't know much about it, we'll help you use it to grow your business." %>
<% keywords 'online marketing, internet marketing, social media, social media business' %>
<% set_meta_tags :noindex => true %>

<div class="container">
  <div class="content">
  
  <%= image_tag("https://s3.amazonaws.com/badgedin/badges/Facebook+Timeline+Badge.png", alt: "Facebook Timeline badge", align: "center", id: "quiz_badge") %>
    
    <div class="row-video">
    <div class="span7-video">
        <ul class="breadcrumb">
  		  <li><a href="#">Social Media Basics</a> <span class="divider">/</span></li>
  		  <li><a href="#">Facebook Timeline</a> <span class="divider">/</span></li>
  		  <li class="active">Quiz</li>
		</ul>
    <div class="questionContainer radius">
        <div class="question"><b>Question 1:</b> What can you put in your cover image?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-a" /> "40% off today!"</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-b" /> "Like our page and receive a free gift!"</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-c" /> A photo with your companies contact information.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-d" /> A group photo of your staff.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev"></div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer hide radius">
        <div class="question"><b>Question 2:</b> What is the size of your profile image?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-a" /> 160 x 160</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-b" /> 145 x 145</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-c" /> 130 x 130</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-d" /> 150 x 150</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev">
                </div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer radius hide">
        <div class="question"><b>Question 3:</b> How do you highlight a post?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q3" id="q3-a" /> Use the highlighter option and click and hold what you want to highlight.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q3" id="q3-b" /> Hover over a post and click the star in the upper right-hand corner.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q3" id="q3-c" /> Type in 'highlight this yo!' into the post.</label>
                </li>
                <hr>
                <li>
                	<label><input type="radio" name="q3" id="q3-d" /> Hover over a post and click the pencil in the upper right-hand corner.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev">
                </div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer radius hide">
        <div class="question"><b>Question 4:</b> How do you change the name of a tab?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q4" id="q4-a" /> Double click on the tab name and change it.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q4" id="q4-b" /> Select Edit Settings.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q4" id="q4-c" /> Hover over the tab and click the pencil, then select Edit Settings.</label>
                </li>
                <hr>
                <li>
                	<label><input type="radio" name="q4" id="q4-d" /> Click the flag, hover over the tab and click the pencil, then select Edit Settings.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev">
                </div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer radius hide">
        <div class="question"><b>Question 5:</b> Where can you enable the 'Message' button?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-a" /> In a highlighted post.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-b" /> Manage Permissions.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-c" /> In the Insights.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-d" /> You can't, this is a trick question.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
            <div class="prev">
            </div>
            <div class="next">
                <a class="btnShowResult">Finish!</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    </div>
    
    <div class="span3-video">
    <div class="txtStatusBar">Quiz Status</div>
    <div id="progressKeeper" class="radius">
        <div id="progress" class="radius"></div>
    </div>
    <div id="resultKeeper" class="radius hide"></div>
    </div>
    </div>

  </div>
</div>

<script>
$(function(){
    var jQuiz = {
        answers: { q1: 'd', q2: 'a', q3: 'b', q4: 'd', q5: 'b' },
        questionLenght: 5,
        checkAnswers: function() {
            var arr = this.answers;
            var ans = this.userAnswers;
            var resultArr = []
            for (var p in ans) {
                var x = parseInt(p) + 1;
                var key = 'q' + x;
                var flag = false;
                if (ans[p] == 'q' + x + '-' + arr[key]) {
                    flag = true;
                }
                else {
                    flag = false;
                }
                resultArr.push(flag);
            }
            return resultArr;
        },
        init: function(){
            $('.btnNext').click(function(){
                if ($('input[type=radio]:checked:visible').length == 0) {
                            
                    return false;
                }
                $(this).parents('.questionContainer').fadeOut(300, function(){
                    $(this).next().fadeIn(300);
                });
                var el = $('#progress');
                el.width(el.width() + 60 + 'px');
            });
            $('.btnPrev').click(function(){
                $(this).parents('.questionContainer').fadeOut(300, function(){
                    $(this).prev().fadeIn(300)
                });
                var el = $('#progress');
                el.width(el.width() - 60 + 'px');
            })
            $('.btnShowResult').click(function(){
                var arr = $('input[type=radio]:checked');
                var ans = jQuiz.userAnswers = [];
                for (var i = 0, ii = arr.length; i < ii; i++) {
                    ans.push(arr[i].getAttribute('id'))
                }
            })
            $('.btnShowResult').click(function(){
                $('#progress').width(300);
                $('#progressKeeper').hide();
                var results = jQuiz.checkAnswers();
                var resultSet = '';
                var trueCount = 0;
                for (var i = 0, ii = results.length; i < ii; i++){
                    if (results[i] == true) trueCount++;
                    resultSet += '<div> Question ' + (i + 1) + ' is ' + results[i] + '</div>'
                }
                resultSet += '<div class="totalScore">Your total score is ' + trueCount * 20 + ' / 100</div>'
                if (trueCount == 5) {
                  resultSet += '<br /><a href="/basics_social/fb_timeline/badge" class="btn-custom">Claim badge</a>'
                }
                else {
				  resultSet += '<br /><a href="/basics_social/fb_timeline/quiz" class="btn-custom2">Try again</a>'
                };
                $('#resultKeeper').html(resultSet).show();
            })
        }
    };
    jQuiz.init();
})
</script>