<div class="container">
  <div class="content">
    <script type="text/javascript">
	  var playerhost = (("https:" == document.location.protocol) ? "https://badgedin.s3.amazonaws.com/ezs3js/secure/" : "http://badgedin.s3.amazonaws.com/ezs3js/player/");
	  document.write(unescape("%3Cscript src='" + playerhost + "flv/1DD971BA-D4AE-52BC-EDCD4C05CF6A8D93.js?t="+(Math.random() * 99999999)+"' type='text/javascript'%3E%3C/script%3E"));
  	</script>
    
    <div class="row-video">
    <div class="span7-video">
      
        <ul class="breadcrumb">
  		  <li><a href="/walkthroughs_ppc">PPC Walkthroughs</a> <span class="divider">/</span></li>
  		  <li class="active">Negative Keywords</li>
		</ul>
      
      <p class="trainer">Author: Ben Reilly | Time: 2 minutes 23 seconds</p>
 	  <p class="trainer">What are the benefits of showing up in an organic search listing vs. a 
 	  PPC search listing?  Watch this video to find out.</p>
	  <hr>
	  <p>Add notes here.</p>
    </div>
    
    <div class="span3-video">
      <%= image_tag("https://s3.amazonaws.com/badgedin/badges/How+Search+Engines+Work+Badge.png", alt: "How SE Work badge", align: "center", id: "badge_img") %>
      <hr>
  	  <h3 align="center"><%= link_to 'Take the quiz', basics_ppc_how_se_work_quiz_path, class: 'btn-custom' %></h3>
    </div>
    </div>
    
  </div>
</div>