<% title 'How Search Engines Work Quiz' %>
<% description "Our basic videos will teach you more about search engine optimization.  Even if you don't know much about it, we'll help you use it to grow your business." %>
<% keywords 'online marketing, internet marketing, search engine optimization, seo' %>
<% set_meta_tags :noindex => true %>

<div class="container">
  <div class="content">
  
  <%= image_tag("https://s3.amazonaws.com/badgedin/badges/se_works_seo_badge.png", alt: "How SE Work badge", align: "center", id: "quiz_badge") %>
    
    <div class="row-video">
    <div class="span7-video">
        <ul class="breadcrumb">
  		  <li><a href="#">SEO Basics</a> <span class="divider">/</span></li>
  		  <li><a href="#">How Search Engines Work</a> <span class="divider">/</span></li>
  		  <li class="active">Quiz</li>
		</ul>
    <div class="questionContainer radius">
        <div class="question"><b>Question 1:</b> How do search engines make our lives easier?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-a" /> They do our grocery shopping for us.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-b" /> They allow us to find relevant information instantly.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-c" /> They make book reports tedious.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-d" /> They allow us to find irrelevant information instantly.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev"></div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer hide radius">
        <div class="question"><b>Question 2:</b> Web crawlers are also known as?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-a" /> Beetles.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-b" /> Snakes.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-c" /> Spiders.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-d" /> Snails.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev">
                </div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer radius hide">
        <div class="question"><b>Question 3:</b> What do web crawlers do?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q3" id="q3-a" /> They like your Facebook fan page.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q3" id="q3-b" /> They leave comments on your blog.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q3" id="q3-c" /> They look for websites they think are interesting.</label>
                </li>
                <hr>
                <li>
                	<label><input type="radio" name="q3" id="q3-d" />  They look for new websites and new information.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev">
                </div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer radius hide">
        <div class="question"><b>Question 4:</b> Where do web crawlers put the information about your website?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q4" id="q4-a" /> In an index.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q4" id="q4-b" /> In a book.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q4" id="q4-c" /> In a box.</label>
                </li>
                <hr>
                <li>
                	<label><input type="radio" name="q4" id="q4-d" />  In a desk drawer.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev">
                </div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer radius hide">
        <div class="question"><b>Question 5:</b> What is another name for PPC ads?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-a" /> Special listings.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-b" /> Sponsored listings.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-c" />  Spacial listings.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-d" /> Spirit listings.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
            <div class="prev">
            </div>
            <div class="next">
                <a class="btnShowResult">Finish!</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    </div>
    
    <div class="span3-video">
    <div class="txtStatusBar">Quiz Status</div>
    <div id="progressKeeper" class="radius">
        <div id="progress" class="radius"></div>
    </div>
    <div id="resultKeeper" class="radius hide"></div>
    </div>
    </div>

  </div>
</div>

<script>
$(function(){
    var jQuiz = {
        answers: { q1: 'b', q2: 'c', q3: 'd', q4: 'a', q5: 'b' },
        questionLenght: 5,
        checkAnswers: function() {
            var arr = this.answers;
            var ans = this.userAnswers;
            var resultArr = []
            for (var p in ans) {
                var x = parseInt(p) + 1;
                var key = 'q' + x;
                var flag = false;
                if (ans[p] == 'q' + x + '-' + arr[key]) {
                    flag = true;
                }
                else {
                    flag = false;
                }
                resultArr.push(flag);
            }
            return resultArr;
        },
        init: function(){
            $('.btnNext').click(function(){
                if ($('input[type=radio]:checked:visible').length == 0) {
                            
                    return false;
                }
                $(this).parents('.questionContainer').fadeOut(300, function(){
                    $(this).next().fadeIn(300);
                });
                var el = $('#progress');
                el.width(el.width() + 60 + 'px');
            });
            $('.btnPrev').click(function(){
                $(this).parents('.questionContainer').fadeOut(300, function(){
                    $(this).prev().fadeIn(300)
                });
                var el = $('#progress');
                el.width(el.width() - 60 + 'px');
            })
            $('.btnShowResult').click(function(){
                var arr = $('input[type=radio]:checked');
                var ans = jQuiz.userAnswers = [];
                for (var i = 0, ii = arr.length; i < ii; i++) {
                    ans.push(arr[i].getAttribute('id'))
                }
            })
            $('.btnShowResult').click(function(){
                $('#progress').width(300);
                $('#progressKeeper').hide();
                var results = jQuiz.checkAnswers();
                var resultSet = '';
                var trueCount = 0;
                for (var i = 0, ii = results.length; i < ii; i++){
                    if (results[i] == true) trueCount++;
                    resultSet += '<div> Question ' + (i + 1) + ' is ' + results[i] + '</div>'
                }
                resultSet += '<div class="totalScore">Your total score is ' + trueCount * 20 + ' / 100</div>'
                if (trueCount == 5) {
                  resultSet += '<br /><a href="/basics_seo/how_se_work/badge" class="btn-custom">Claim badge</a>'
                }
                else {
				  resultSet += '<br /><a href="/basics_seo/how_se_work/quiz" class="btn-custom2">Try again</a>'
                };
                $('#resultKeeper').html(resultSet).show();
            })
        }
    };
    jQuiz.init();
})
</script>