<div class="container">
  <div class="content">
  
  <%= image_tag("https://s3.amazonaws.com/badgedin/badges/offsite_badge.png", alt: "Off-site badge", align: "center", id: "quiz_badge") %>
    
    <div class="row-video">
    <div class="span7-video">
        <ul class="breadcrumb">
  		  <li><a href="#">SEO Basics</a> <span class="divider">/</span></li>
  		  <li><a href="#">Off-site</a> <span class="divider">/</span></li>
  		  <li class="active">Quiz</li>
		</ul>
    <div class="questionContainer radius">
        <div class="question"><b>Question 1:</b> Which directory can you use for free?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-a" /> Yahoo directory.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-b" /> DMOZ.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-c" /> Forums.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-d" /> RSS feeds.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev"></div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer hide radius">
        <div class="question"><b>Question 2:</b> What is an example of a valuable blog comment?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-a" /> What about the iPhone 5 camera?  I don't see it listed but it records in HD.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-b" /> Great post!</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-c" /> Thanks for the post!</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-d" /> Great tips!</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev">
                </div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer radius hide">
        <div class="question"><b>Question 3:</b> Where is it acceptable to place a link to your website in your article?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q3" id="q3-a" /> In the title of the article.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q3" id="q3-b" /> In the article itself.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q3" id="q3-c" /> In the author's box of the article.</label>
                </li>
                <hr>
                <li>
                	<label><input type="radio" name="q3" id="q3-d" /> Never - it's cheesy.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev">
                </div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer radius hide">
        <div class="question"><b>Question 4:</b> Why is guest posting a great strategy to acquire links?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q4" id="q4-a" /> You can place your link all over the blog post.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q4" id="q4-b" /> You provide the blog's readers with added value and you get to control the link.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q4" id="q4-c" /> You can steal some of the blog's readers.</label>
                </li>
                <hr>
                <li>
                	<label><input type="radio" name="q4" id="q4-d" /> You can create a lot of links by using the same blog post over and over.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev">
                </div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer radius hide">
        <div class="question"><b>Question 5:</b> Why are forums a great way to create links?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-a" /> All you have to do is place a link in your post.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-b" /> You can post anything you want.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-c" /> You can post off topic information.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-d" /> Each time you post in the forum you get a link back to your site.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
            <div class="prev">
            </div>
            <div class="next">
                <a class="btnShowResult">Finish!</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    </div>
    
    <div class="span3-video">
    <div class="txtStatusBar">Quiz Status</div>
    <div id="progressKeeper" class="radius">
        <div id="progress" class="radius"></div>
    </div>
    <div id="resultKeeper" class="radius hide"></div>
    </div>
    </div>

  </div>
</div>

<script>
$(function(){
    var jQuiz = {
        answers: { q1: 'b', q2: 'a', q3: 'c', q4: 'b', q5: 'd' },
        questionLenght: 5,
        checkAnswers: function() {
            var arr = this.answers;
            var ans = this.userAnswers;
            var resultArr = []
            for (var p in ans) {
                var x = parseInt(p) + 1;
                var key = 'q' + x;
                var flag = false;
                if (ans[p] == 'q' + x + '-' + arr[key]) {
                    flag = true;
                }
                else {
                    flag = false;
                }
                resultArr.push(flag);
            }
            return resultArr;
        },
        init: function(){
            $('.btnNext').click(function(){
                if ($('input[type=radio]:checked:visible').length == 0) {
                            
                    return false;
                }
                $(this).parents('.questionContainer').fadeOut(300, function(){
                    $(this).next().fadeIn(300);
                });
                var el = $('#progress');
                el.width(el.width() + 60 + 'px');
            });
            $('.btnPrev').click(function(){
                $(this).parents('.questionContainer').fadeOut(300, function(){
                    $(this).prev().fadeIn(300)
                });
                var el = $('#progress');
                el.width(el.width() - 60 + 'px');
            })
            $('.btnShowResult').click(function(){
                var arr = $('input[type=radio]:checked');
                var ans = jQuiz.userAnswers = [];
                for (var i = 0, ii = arr.length; i < ii; i++) {
                    ans.push(arr[i].getAttribute('id'))
                }
            })
            $('.btnShowResult').click(function(){
                $('#progress').width(300);
                $('#progressKeeper').hide();
                var results = jQuiz.checkAnswers();
                var resultSet = '';
                var trueCount = 0;
                for (var i = 0, ii = results.length; i < ii; i++){
                    if (results[i] == true) trueCount++;
                    resultSet += '<div> Question ' + (i + 1) + ' is ' + results[i] + '</div>'
                }
                resultSet += '<div class="totalScore">Your total score is ' + trueCount * 20 + ' / 100</div>'
                if (trueCount == 5) {
                  resultSet += '<br /><a href="/basics_seo/offsite/badge" class="btn-custom">Claim badge</a>'
                }
                else {
				  resultSet += '<br /><a href="/basics_seo/offsite/quiz" class="btn-custom2">Try again</a>'
                };
                $('#resultKeeper').html(resultSet).show();
            })
        }
    };
    jQuiz.init();
})
</script>