<% title 'Social Media Plan Review' %>
<% description 'Start your 30 day free trial today!  BadgedIn is the fastest, easiest way to learn how to market and advertise your website with Social Media, PPC, and SEO.' %>
<% keywords 'online marketing, internet marketing, pay per click, social media, search engine optimization, ppc, seo' %>
<% set_meta_tags :noindex => true %>

<div class="container">
  <div class="content">

<%= render 'form' %>


  <div class="span7">
  <h2>Social Media Plan Review</h2>
  <p>Plan reviews give you a chance to have someone take a look at what you're think you're going to do.  
  It's like having someone to bounce ideas off of without them being in the same room.</p>
  <hr>
  <h4>Replies within 2 business days</h4>
  <p>We know you're busy and you want to get the ball rolling.  Our team will review your 
  plan as quickly as possible and give you our feedback.</p>
  <h4>Reviewed by experts</h4>
  <p>Each plan submitted will be analyzed by a BadgedIn expert.  We'll give you the best advice 
  to see your plan come to life.</p>
  <h4>Feedback only</h4>
  <p>Our experts are here to help and provide feedback only.  At this time we are not implementing 
  any plans nor are we responsible for any gains/losses the plans may create.</h4>
  <h4>Unlimited plan reviews</h4>
  <p>You can submit as many plan reviews as you want.  Just be sure they're useful for what you're trying to do.</p>
</div>
  </div>
</div>
