<% title 'User' %>
<% description 'Start your 30 day free trial today!  BadgedIn is the fastest, easiest way to learn how to market and advertise your website with Social Media, PPC, and SEO.' %>
<% set_meta_tags :noindex => true %>

<div class="container">
  <div class="content">
<h3>User</h3>
<p>User: <%= @user.name %></p>
<p>Email: <%= @user.email if @user.email %></p>

</div>
</div>
