<% title 'About' %>
<% description 'BadgedIn is the fastest, easiest way to learn how to market and advertise your website.  Learn Social Media, PPC, and SEO.' %>
<% keywords 'online marketing, internet marketing, pay per click, social media, search engine optimization, ppc, seo' %>

<div class="container">
  <div class="content">
    <div class="page-header">
      <h1>About us</h1>
    </div>
    <div class="well">
	<p>BadgedIn offers a low cost monthly subscription service that gives teams access to a library of 
	videos and quizzes that teach digital marketing in key areas like Pay Per Click, Social Media, 
	and Search Engine Optimization.  Quizzes unlock badges 
	proving that you are proficient in key areas. You can learn at their own 
	pace, in your free time, and you can boost the value of your website.</p>  

    <p>Videos are published monthly to keep up with the extremely dynamic nature of the online ecosystem. 
    Whether you need to know PPC or SEO we'll guide you through the process.  
	Once you complete all the videos you'll be able to run your advertising campaigns on your own.  
	You'll also be able to communicate with others who are working on campaigns and help them when 
	needed.</p>
	</div>
  </div>
</div>