<div class="container">
  <div class="content">
    <div class="page-header">
      <h1>SEO Walkthroughs</h1>
      <p class="lead muted">New walkthroughs added weekly</p>
    </div>
	<div class="row">
      <div class="span3 well-library">
        <%= image_tag("https://s3.amazonaws.com/badgedin/walkthroughs_images/wp_allinoneseo.png", alt: "WordPress All In One SEO Pack", align: "center", id: "walkthroughs") %>
        <h4 align="center">All In One SEO plugin</h4>
        <hr>
        <p align="center"><%= link_to "Watch", walkthroughs_seo_wp_all_in_one_path, class: "btn-custom" %></p>
      </div>

    </div>
  </div>
</div>