<% title 'Tracking & Reporting' %>
<% description "Our basic videos will teach you more about pay per click.  Even if you don't know much about it, we'll help you use it to grow your business." %>
<% keywords 'online marketing, internet marketing, pay per click, ppc' %>
<% set_meta_tags :noindex => true %>

<div class="container">
  <div class="content">
  
  <%= image_tag("https://s3.amazonaws.com/badgedin/badges/tracking_badge.png", alt: "Tracking & Reporting badge", align: "center", id: "quiz_badge") %>
    
    <div class="row-video">
    <div class="span7-video">
        <ul class="breadcrumb">
  		  <li><a href="#">PPC Basics</a> <span class="divider">/</span></li>
  		  <li><a href="#">Tracking & Reporting</a> <span class="divider">/</span></li>
  		  <li class="active">Quiz</li>
		</ul>
    <div class="questionContainer radius">
        <div class="question"><b>Question 1:</b> What are two ways you can track your PPC campaigns?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-a" /> Append a variable to the landing page and add a redirect URL to the landing page.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-b" /> Append a redirect to the landing page and a variable to the URL.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-c" /> Add a redirect URL to the destination URL and add a tracking code to the landing page.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q1" id="q1-d" /> Add a variable to the destination URL and add a redirect to the landing page.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev"></div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer hide radius">
        <div class="question"><b>Question 2:</b>  What is the first report typically seen in a reporting system?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-a" /> Campaign report.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-b" /> Dashboard report.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-c" /> Ad Group report.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q2" id="q2-d" /> Keyword report.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev">
                </div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer radius hide">
        <div class="question"><b>Question 3:</b> What is a conversion in a PPC campaign?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q3" id="q3-a" /> When a user navigates through your website and then moves on to a different website.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q3" id="q3-b" /> When a user types in a keyword into a search engine.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q3" id="q3-c" /> When a user clicks on an ad and visits your website.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q3" id="q3-d" /> When a user navigates through your website and either buys something or signs up for something.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev">
                </div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer radius hide">
        <div class="question"><b>Question 4:</b> What is ROAS in a PPC campaign?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q4" id="q4-a" /> It is how much money you made for every dollar you spent on your PPC campaign.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q4" id="q4-b" /> It is how much money you paid the search engine over any given period of time.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q4" id="q4-c" /> It is how much money you spend for every lead you acquired with your PPC campaign.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q4" id="q4-d" /> The monetary value of your conversions.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
                <div class="prev">
                </div>
                <div class="next">
                    <a class="btnNext">Next</a>
                </div>
                <div class="clear"></div>
            </div>
    </div>
    <div class="questionContainer radius hide">
        <div class="question"><b>Question 5:</b> What is CPA in a PPC campaign?</div>
        <div class="answers">
            <ul>
            	<hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-a" /> It is how much money you made for every dollar you spent on your PPC campaign.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-b" /> It is how much money you paid the search engine over any given period of time.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-c" /> It is how much money you spend for every lead you acquired with your PPC campaign.</label>
                </li>
                <hr>
                <li>
                    <label><input type="radio" name="q5" id="q5-d" /> The monetary value of your conversions.</label>
                </li>
            </ul>
        </div>
        <div class="btnContainer pull-right">
            <div class="prev">
            </div>
            <div class="next">
                <a class="btnShowResult">Finish!</a>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    </div>
    
    <div class="span3-video">
    <div class="txtStatusBar">Quiz Status</div>
    <div id="progressKeeper" class="radius">
        <div id="progress" class="radius"></div>
    </div>
    <div id="resultKeeper" class="radius hide"></div>
    </div>
    </div>

  </div>
</div>

<script>
$(function(){
    var jQuiz = {
        answers: { q1: 'c', q2: 'b', q3: 'd', q4: 'a', q5: 'c' },
        questionLenght: 5,
        checkAnswers: function() {
            var arr = this.answers;
            var ans = this.userAnswers;
            var resultArr = []
            for (var p in ans) {
                var x = parseInt(p) + 1;
                var key = 'q' + x;
                var flag = false;
                if (ans[p] == 'q' + x + '-' + arr[key]) {
                    flag = true;
                }
                else {
                    flag = false;
                }
                resultArr.push(flag);
            }
            return resultArr;
        },
        init: function(){
            $('.btnNext').click(function(){
                if ($('input[type=radio]:checked:visible').length == 0) {
                            
                    return false;
                }
                $(this).parents('.questionContainer').fadeOut(300, function(){
                    $(this).next().fadeIn(300);
                });
                var el = $('#progress');
                el.width(el.width() + 60 + 'px');
            });
            $('.btnPrev').click(function(){
                $(this).parents('.questionContainer').fadeOut(300, function(){
                    $(this).prev().fadeIn(300)
                });
                var el = $('#progress');
                el.width(el.width() - 60 + 'px');
            })
            $('.btnShowResult').click(function(){
                var arr = $('input[type=radio]:checked');
                var ans = jQuiz.userAnswers = [];
                for (var i = 0, ii = arr.length; i < ii; i++) {
                    ans.push(arr[i].getAttribute('id'))
                }
            })
            $('.btnShowResult').click(function(){
                $('#progress').width(300);
                $('#progressKeeper').hide();
                var results = jQuiz.checkAnswers();
                var resultSet = '';
                var trueCount = 0;
                for (var i = 0, ii = results.length; i < ii; i++){
                    if (results[i] == true) trueCount++;
                    resultSet += '<div> Question ' + (i + 1) + ' is ' + results[i] + '</div>'
                }
                resultSet += '<div class="totalScore">Your total score is ' + trueCount * 20 + ' / 100</div>'
                if (trueCount == 5) {
                  resultSet += '<br /><a href="/basics_ppc/tracking_and_reporting/badge" class="btn-custom">Claim badge</a>'
                }
                else {
				  resultSet += '<br /><a href="/basics_ppc/tracking_and_reporting/quiz" class="btn-custom2">Try again</a>'
                };
                $('#resultKeeper').html(resultSet).show();
            })
        }
    };
    jQuiz.init();
})
</script>