// Place all the styles related to the badges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img#badge {
   height: auto;
   width: 40%;
   display: block;
   margin-left: auto;
   margin-right: auto;
   padding: 1% 3% 0 3%;
   border: none;
}