.plans{
  margin-left: auto;
  margin-right: auto;
}
.featured{
  -webkit-transform:scale(1.15); 
  -moz-transform:scale(1.15); 
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.67);
}
.plan{
  
}
.plan.featured-plan{
  
}
.plan h2{
  color: #99999;
}

.plan-header {
  background-color: #fff;
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}