<p>Name: <%= @expert.name %></p>

<p>Email: <%= @expert.email %></p>

<p>Question: <%= @expert.question %></p>


<hr>
<p>That's it!  I appreciate your help.</p>
<p>Thanks!</p>
<p><%= @expert.name %></p>