<div class="container">
  <div class="content">

<%= render 'form' %>


  <div class="span7">
  <h2>Expert Access</h2>
  <p>Interact with our BadgedIn experts by asking them questions related to your online marketing efforts. 
  These questions are given priority over others we receive so you'll receive a quick reply.  Try it out!</p>
  <hr>
  <h4>Quick reply</h4>
  <p>As you progress in your marketing campaigns you'll undoubtedly have questions.  We strive to proivde 
  you with answers as quick as possible - usually within 1 business day.</p>
  <h4>Access to experts</h4>
  <p>Each question will be answered by a BadgedIn expert.  We'll give you the best answer we can.</p>
  <h4>Advice only</h4>
  <p>Our experts are here to help and provide advice only.  At this time we are not implementing 
  any plans nor are we responsible for any gains/losses the plans may create.</h4>
  <h4>Unlimited access</h4>
  <p>You can ask as many questions as you want.  Just be sure they're useful for what you're trying to do.</p>
</div>
  </div>
</div>
